<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <!-- 1 Sección principal para mostrar la informaccion de las categorias -->
        <section th:fragment="categoriasTabs" id="categorias">
            <div class="row py-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" 
                           aria-current="page" 
                           href="/pruebas/listado"
                           >[[#{pruebas.todas}]]</a>
                    </li>
                    <li th:each="categoria : ${categorias}" class="nav-item">
                        <a class="nav-link" 
                           th:href="@{/pruebas/listado/}+${categoria.idCategoria}"
                           >[[${categoria.descripcion}]]</a>
                    </li>                    
                </ul>
            </div>
        </section>
    </body>
</html>