<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tienda en linea</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1 style="text-align: center">Ejemplo3</h1>
            <p>Bienvenidos a la pagina de la Tienda en linea...</p>
        </div>
        <p>Lorem <strong>ipsim dolor sit amet consectetur </strong>
        <p>Morbi <u>accumsan sapien metus </u>
        <p>Ultricies <i>ornare pretium libero </i>
           
        <br>
        <br>
        <p><strong><u><i>Ultima linea</i></u></strong></p>
    </body>
</html>
