<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tienda en linea</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1 style="text-align: center">Home</h1>
            <p>Bienvenidos a la pagina de la tienda en linea...</p>
            
            <p style="text-align: left">
            <p style="text-align: right">
            <p style="text-align: center">
                
            <br>
            <br>
      
            <p>Ultima linea</p>
    </body>
</html>
