<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="description" content="Esta pagina contiene etiquetas deltipo html">
        <meta name="keywords" content="html5, css3, web, fidelitas">
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>


    </head>
    <body>
    <section id="contenido">
         <h2>Ejemplode videos  </h2>   
          <article>
               <header><h3>Torpedo </h3></header>
                <figure>
                     <video width="320" height="240" controls autoplay muted >
                              <source src="../video/Submarino colombiano destruye buque con un torpedo DM2A3 Seehecht.mp4" type="video/mp4">
                              Your browser does not support the <code>video</code> tag.
                          </video>
                     <figcaption>Realizada en 2021 </figcaption>
                      </figure>
                </article>
          </section>
         <footer id="piepagina"> Derechos reservados &COPY; 2022 <address style="display:">
              
        <div>TODO write content</div>
    </body>
</html>
